.creator-browsing-view-logo {
  height: 50px;
  pointer-events: none;
}

.creator-browsing-view {
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  align-items: center;
  background: #fdefe6;
  color: black;
}

.creator-browsing-view-list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 77%;
  overflow: scroll;
}

.creator-browsing-view-header {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 30px;
  position: sticky;
  top: 0;
  background: #fdefe6;
  z-index: 100;
}
