.usercard {
  background: white;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 2px solid grey;
  padding: 10px;
  transition: 0.2s ease-in;
}

.usercard-hidden {
  opacity: 0.4;
  transition: 0.2s ease-in;
}
