.logo {
  height: 58px;
  pointer-events: none;
  margin-bottom: 26px;
}

.profile-picture {
  width: 55px;
  height: 55px;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  border: 1px solid #c2c2c2;
}
